=display_flex
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

=justify_content_center
  -ms-box-pack: center
  -webkit-justify-content: center
  -moz-justify-content: center
  -ms-justify-content: center
  justify-content: center

=justify_content_space_around
  -ms-box-pack: justify
  -webkit-justify-content: space-around
  -moz-justify-content: space-around
  -ms-justify-content: space-around
  justify-content: space-around

=flex_direction_column
  -webkit-flex-direction: column
  -moz-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-orient: vertical
  -moz-box-orient: vertical
  -ms-box-orient: vertical
  box-orient: vertical

=flex_direction_row_reverse
  -webkit-flex-direction: row-reverse
  -moz-flex-direction: row-reverse
  -ms-flex-direction: row-reverse
  flex-direction: row-reverse

=flex_align_items_center
  align-items: center
  -webkit-align-items: center
  -moz-align-items: center
  -ms-align-items: center
  -ms-flex-pack: center

=transform_scale($n)
  -moz-transform: scale($n)
  -o-transform: scale($n)
  -webkit-transform: scale($n)
  transform: scale($n)

=transition($prop,$duration,$timing_function)
  -webkit-transition: $prop $duration $timing_function
  -moz-transition: $prop $duration $timing_function
  -o-transition: $prop $duration $timing_function
  -ms-transition: $prop $duration $timing_function
  transition: $prop $duration $timing_function
