= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  .row.text-center
    .col-sm-4
      = f.input :name
    .col-sm-4
      = f.input :birthday, as: :string, input_html: { class: 'datepicker', value: (@user.birthday.present? ? TimeHandler.rus_date(@user.birthday) : nil) }
    .col-sm-4
      = f.input :address
  .row
    .col-sm-12.text-center.margin-top-100.margin-bottom-40
      = f.submit 'Сохранить', class: 'btn btn-lg btn-default flat'