.quote__block data-quote-id="#{ quote.id }"
  .quote__header
    .quote__header_author = quote.author_nickname
    .quote__header_date = rus_dtime quote.created_at
  .quote__body.whitespacer
    = quote.text
  .quote__footer
    .text-center.full-width
      = link_to 'javascript:void(0);', class: 'rate_toggler', data: { direction: 'down' }
        i.fa.fa-thumbs-down.margin-right-30
      span.quote__footer_counter = quote.rate
      = link_to 'javascript:void(0);', class: 'rate_toggler', data: { direction: 'up' }
        i.fa.fa-thumbs-up.margin-left-30
