.row
  .col-sm-12.text-center
    h3 Транзакции пользователя за месяц:
    table#transactions_table.table.table-borderless
      thead
        tr
          th
            = link_to new_user_income_path(@user)
              i.fa.fa-plus
          th
            = link_to new_user_expense_path(@user)
              i.fa.fa-minus
      tbody
        - for date, transactions_in_date in @transactions.group_by { |t| t[:transaction_time].to_date }.sort_by { |k, v| k }.reverse do
          tr.date-row
            td.text-center colspan='2'
              span.label.label-default.flat = TimeHandler.rus_date date
          - for transaction in transactions_in_date.sort_by { |t| t[:transaction_time] }.reverse
            tr
              - if transaction.kind_of?(Income)
                td
                  p
                    small.text-muted = TimeHandler.rus_time transaction.transaction_time
                  p = CurrencyHandler.ntc(transaction.amount)
                td
              - else
                td
                td
                  p
                    small.text-muted
                      = TimeHandler.rus_time transaction.transaction_time
                      - unless transaction.purpose.blank?
                        |: #{ transaction.purpose }
                  p = CurrencyHandler.ntc(transaction.amount)
      tfoot
        tr#balance-row
          td colspan='2'
            |Итоговый баланс: #{ CurrencyHandler.ntc(@transactions.map { |t| (t.kind_of?(Income) ? t.amount : -t.amount) }.sum()) }