= content_for :seo_title
  | Главная

= content_for :seo_description
  | Balance - Приложение для расчета баланса

.row
  .col-sm-12
    .full-width.text-right
      = link_to new_user_path, class: 'btn btn-default btn-sm flat margin-bottom-30'
        i.fa.fa-plus.margin-right-5
        |Добавить пользователя
    table.table.table-bordered
      thead
        tr
          th #
          th Имя
          th Возраст
          th Адрес
          th Баланс
          th Управление
      tbody
        - @users.each_with_index do |user, i|
          tr
            td = i + 1
            td = user.name
            td = user.age
            td = user.address
            td.text-center
              .pull-left
                = link_to new_user_income_path(user.id), title: 'Регистрация поступления денежных средств', class: 'btn btn-success btn-xs flat margin-right-5'
                  i.fa.fa-plus
              span.w100px = CurrencyHandler.ntc @balances_hash[user.id] || '0'
              .pull-right
                = link_to new_user_expense_path(user.id), title: 'Регистрация поступления денежных средств', class: 'btn btn-danger btn-xs flat margin-left-5'
                  i.fa.fa-minus
            td.text-center
              = link_to user_path(user.id), title: 'Просмотр информации о пользователе', class: 'btn btn-default btn-xs flat margin-right-5'
                i.fa.fa-eye
              = link_to edit_user_path(user.id), title: 'Редактировать информацию о пользователе', class: 'btn btn-default btn-xs flat margin-right-5'
                i.fa.fa-pencil
              = link_to user_path(user), method: :delete, title: 'Удалить пользователя', class: 'btn flat btn-xs btn-danger', data: { confirm: "Уверены, что хотите удалить пользователя #{ user.name }?" }
                i.fa.fa-trash
