= content_for :seo_title
  | Пользователь #{  @user.name }

= content_for :seo_description
  | Balance. Пользователь

.row
  .col-sm-12.text-center
    h3 Информация о пользователе #{ @user.name }
    .text-muted
      |Возраст #{ @user.age }.
      - unless @user.address.blank?
      |&nbsp;Адрес: #{ @user.address }.
- if @transactions.present?
  = render 'user_transactions_table'

.row
  .col-sm-12.text-center.margin-top-40.margin-bottom-40
    = link_to 'Назад к списку пользователей', root_path, class: 'btn btn-default btn-sm flat'