= content_for :seo_title
  | Регистрация расхода денежных средств

= content_for :seo_description
  | Balance. Регистрация расхода денежных средств пользователя #{ @user.name }

= simple_form_for [@user, @expense] do |f|
  .row.text-center
    .col-sm-4
      = f.input :amount
    .col-sm-4
      = f.input :transaction_time, as: :string, input_html: { class: 'datetimepicker' }
    .col-sm-4
      = f.input :purpose
  .row
    .col-sm-12.text-center.margin-top-100.margin-bottom-40
      = f.submit 'Сохранить', class: 'btn btn-lg btn-default flat'