#header
  padding: 10px
  margin: 0
  h2
    font-size: 48px
    line-height: 48px
  a
    color: #000
    text-decoration: none
    &:hover
      color: #555

  .locale_link.active
    font-weight: bold