#loading-state-div
  position: fixed
  left: 0
  top: 0
  z-index: 9000
  width: 100%
  min-height: 100%
  background: #fff
  @include display_flex
  @include justify_content_center
  @include flex_align_items_center
  .spinner-container
    display: block
    width: auto
    color: $metal-color
    #logo-loader
      text-align: center
      #logo-loader-text
        @include display_flex
        @include justify_content_center
        font-size: 115px
        line-height: 115px
        #xs-logo-loader-little
          color: #000
          font-size: 100px
          line-height: 100px
        @media (max-width: $screen-sm-max)
          font-size: 75px
          line-height: 75px
          #xs-logo-loader-little
            font-size: 65px
            line-height: 65px
        @media (max-width: $screen-xs-max)
          font-size: 60px
          line-height: 60px
          #xs-logo-loader-little
            font-size: 52px
            line-height: 52px
        @media (max-width: $screen-xs-max-570)
          font-size: 40px
          line-height: 40px
          #xs-logo-loader-little
            font-size: 36px
            line-height: 36px
      i.fa.fa-spinner
        font-size: 80px
        @media (max-width: $screen-sm-max)
          font-size: 70px
        @media (max-width: $screen-xs-max)
          font-size: 60px
        @media (max-width: $screen-xs-max-570)
          font-size: 50px