#transactions_table
  th
    width: 50%
  tr.date-row
    font-size: 20px
  td,th
    border: 0 !important
    padding: 10px 100px
    &:nth-child(odd)
      text-align: right
      color: $green
    &:nth-child(even)
      text-align: left
      color: $red
  #balance-row td
    text-align: center
    color: #000
    text-transform: uppercase