#loading-state-div
  div.spinner-container
    #logo-loader
      #logo-loader-text
        |B
        span#xs-logo-loader-little alance
      br
      i.fa.fa-spinner.fa-pulse.fa-5x.fa-fw
        span.sr-only